In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import math
import random
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def calculate_trend_series(df):

In [3]:
df = pd.read_csv('random_students_trials.csv')
df

       trial  pile  cards  diff  positivity  help_trend  trend
0          0     0      5     0           1           0      1
1          0     1      7     2           1           1      2
2          0     2      8     1           1           2      3
3          0     3     18    10           1           3      4
4          0     4     21     3           1           4      5
...      ...   ...    ...   ...         ...         ...    ...
39234     49   783      4     0           1           1      2
39235     49   784      2    -2          -1           0     -1
39236     49   785      3     1           1           0      1
39237     49   786      3     0           1           1      2
39238     49   787      1    -2          -1           0     -1

[39239 rows x 7 columns]

In [23]:
series_idx, trial, positivity, length = [], [], [], []
idx = 1
last_row = {}
for index, row in df.iterrows():
    add_series = 0
    if index > 0:
        if last_row['trial'] != row['trial']:
            series_idx.append(idx)
            trial.append(last_row['trial'])
            positivity.append(last_row['positivity'])
            length.append(last_row['trend'])
            idx=1
            #print("appended: trial:{} idx:{} len:{}".format(last_row['trial'], idx, last_row['trend']))
        elif row['positivity'] != last_row['positivity']:
            series_idx.append(idx)
            trial.append(last_row['trial'])
            positivity.append(last_row['positivity'])
            length.append(last_row['trend'])
            idx+=1
    last_row = row.copy()

In [24]:
trend_df = pd.DataFrame.from_dict({'trial': trial, 'series_idx': series_idx, 'positivity': positivity, 'length':length})
trend_df

       trial  series_idx  positivity  length
0          0           1           1       5
1          0           2          -1      -1
2          0           3           1       6
3          0           4          -1      -2
4          0           5           1       4
...      ...         ...         ...     ...
24867     49         497           1       3
24868     49         498          -1      -2
24869     49         499           1       2
24870     49         500          -1      -1
24871     49         501           1       2

[24872 rows x 4 columns]

In [26]:
trend_df.to_csv('random_students_trends.csv', index=False)